{% extends "base.html" %}
 {% block title %} 注册 Cblog 帐号 {% endblock %} {% block head %} {{ super() }}
<style>
    body,
    html {
        width: 100%;
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 600px;
        min-height: 1000px;
        background-color: #F6F6F3;
        overflow: hidden;
        padding: 40px 0 0 0;
    }

    .c_register_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px 500px 0px;

    }

    h1 {
        text-align: center;
        margin: 30px;
        color: #444;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form input {
        height: 40px;
        width: 300px;
        font-size: 18px;
        border:1px solid #a9a9a9;
        padding: 0px 0px;
        margin: 0px 0px;
    }

    form input[type='submit'] {
        background-color: #467B96;
        font: 600;
        font-size: 18px;
        color: #ffffff;
        border: none;
        width: 304px;
    }

    .c_index_login a {
        margin: 20px;
        font-size: 17px;
        color: #467B96;
        text-decoration: none;
    }

    label {
        color: #444;
    }

    .email_warp,
    .password_first_warp,
    .user_name_warp,
    .password_second_warp {
        display: flex;
        flex-direction: column;
        width: 304px;
        height: 70px;
        padding: 0px 0px;
        border: none;
        margin: 0px 0px;
    }

    .email_info,
    .password_first_info,
    .user_name_info,
    .password_second_info {
        padding: 0px 0px;
        border: none;
        margin: 0px 0px;
        font-size: 12px;
        opacity: 0.8;
    }
</style>
<script>
    function check_email() {

        var input = document.getElementById('email')
        info = document.getElementById('email_info')
        pant = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
        if (input.value.length == 0) {
            info.innerText = ''
        } else if (pant.test(input.value)) {
            info.style.color = 'green'
            info.innerText = "输入的邮箱格式正确"
        } else {
            info.style.color = 'red'
            info.innerText = "输入的邮箱格式错误"
        }
    }
    function check_user_name() {
        var user_name = document.getElementById('user_name')
        info = document.getElementById('user_name_info')
        if (user_name.value.length == 0) {
            info.innerText = "用户名不能为空"
            info.style.color = 'red'
        } else if (user_name.value.length >= 1 && user_name.value.length <= 20) {
            info.innerText = "用户名长度合适"
            info.style.color = 'green'
        } else {
            info.innerText = "用户名有问题"
            info.style.color = 'red'
        }
    }
    function check_password_first() {
        var password_first = document.getElementById('password_first')
        info = document.getElementById('password_first_info')
        if (password_first.value.length == 0) {
            info.innerText = "密码不能为空"
            info.style.color = 'red'
        } else if (password_first.value.length >= 5 && password_first.value.length <= 20) {
            info.innerText = "密码长度合适"
            info.style.color = 'green'
        } else {
            info.innerText = "密码有问题"
            info.style.color = 'red'
        }

    }
    function check_password_second() {
        var password_first = document.getElementById('password_first')
        var password_second = document.getElementById('password_second')
        info = document.getElementById('password_second_info')
        if(password_first.value == password_second.value)
        {
            info.innerText = "两次密码输入一致"
            info.style.color = 'green'
        }else{
            info.innerText = "两次密码输入不一致"
            info.style.color = 'red'
        }

    }
</script> {% endblock %} {% block body%}
<h1>注册 Cblog 帐号</h1>
<div class='c_register_wrap'>
    <form action="{{ url_for('auth.register') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="email_warp" , id='email_warp'>
            {{ form.email()}} {% for error in form.errors.email %}
            <span id='email_info' class="email_info" style='color:red;'>{{ error }}</span>
            {% else %}
            <span id='email_info' class="email_info"></span>
            {% endfor %}
        </div>
        <div class='user_name_warp'>
            {{ form.user_name()}} {% for error in form.errors.user_name %}
            <span id='user_name_info' class='user_name_info' style='color:red;'>{{ error }}</span>
            {% else %}
            <span id='user_name_info' class='user_name_info' style='color:red;'>{{ error }}</span>
            {% endfor %}
        </div>
        <div class='password_first_warp' id='password_first_warp'>
            {{ form.password_first()}} {% for error in form.errors.password_first %}
            <span class='password_first_info' id='password_first_info' style='color:red;'>{{ error }}</span>
            {% else %}
            <span class='password_first_info' id='password_first_info'></span>
            {% endfor %}
        </div>
        <div class="password_second_warp" id='password_second_warp'>
            {{ form.password_second()}} {% for error in form.errors.password_second %}
            <span class='password_second_info' id='password_second_info' style='color:red;'>{{ error }}</span>
            {% else %}
            <span class='password_second_info' id='password_second_info'></span>
            {% endfor %}

        </div>

        {{ form.submit() }}

    </form>
    <div class="c_index_login">
        <a href="{{ url_for('main.index') }}">返回首页</a>
        <a href="{{ url_for('auth.login') }}">用户登陆</a>
    </div>
</div>
{% endblock %}