{% extends "base.html" %}
{% block title %} 注册 Cblog 帐号 {% endblock %}

{% block head %}
{{ super() }}
<style>
    body,
    html {
        width: 100%;
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 600px;
        min-height: 1000px;
        background-color: #F6F6F3;
        overflow: hidden;
        padding: 40px 0 0 0;
    }

    .c_register_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px 500px 0px;

    }

    h1 {
        text-align: center;
        margin: 30px;
        color: #444;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form input {
        margin: 10px;
        height: 40px;
        width: 300px;
        font-size: 18px;
    }

    form input[type='submit'] {
        background-color: #467B96;
        font: 600;
        font-size: 18px;
        color: #ffffff;
        border: none;
        width: 304px;
    }

    .c_index_login a {
        margin: 20px;
        font-size: 17px;
        color: #467B96;
        text-decoration: none;
    }

    label {
        color: #444;
    }
</style>
{% endblock %}

{% block body%}
<h1>注册 Cblog 帐号</h1>
<div class='c_register_wrap'>
  <form action="{{ url_for('auth.register') }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.email()}}
    {% for error in form.errors.email %}
    <span style='color:red;'>{{ error }}</span>
    {% endfor %}
    {{ form.user_name()}}
    {% for error in form.errors.user_name %}
    <span style='color:red;'>{{ error }}</span>
    {% endfor %}
    {{ form.password_first()}}
    {% for error in form.errors.password_first %}
    <span style='color:red;'>{{ error }}</span>
    {% endfor %}
    {{ form.password_second()}}
    {% for error in form.errors.password_second %}
        <span style='color:red;'>{{ error }}</span>
    {% endfor %}
    {{ form.submit() }}    

  </form>
  <div class="c_index_login">
      <a href="{{ url_for('main.index') }}">返回首页</a>
      <a href="{{ url_for('auth.login') }}">用户登陆</a>
  </div>
</div>
{% endblock %}