{% extends "layouts/backstage_base.html" %}
{% from 'macros/macro.html' import macro %}

{% block title %}
    修改分类
{% endblock %}

{% block body%}

    {{ super() }}
    {{ macro.flash_all(del_classify_id.errors.id_list)}}
    {{ macro.flash_all(add_classify.errors.classify)}}

{% endblock %}

{% block content %}
{{ super() }}
<form action="{{ url_for('manage.manage_classifys', do='del')}}" method="POST">
{{ del_classify_id.hidden_tag() }}
<div id='classify_table'>
    {% for classify in classifys %}
    <div>
        <input type="checkbox" name="id_list-{{ loop.index0 }}" id="id_list-{{ loop.index0 }}" value="{{ classify.id }}">
        <p class='classify_lable' >{{ classify.classify }}</p>
    </div>
    
    {% endfor %}
</div>

    {{ del_classify_id.submit() }}
</form>


<p>添加</p>
<form action="{{ url_for('manage.manage_classifys', do='add')}}" method="POST">
        {{ add_classify.hidden_tag() }}
        {{ add_classify.classify() }}
        {{ add_classify.submit() }}
    </form>

{% endblock %}