{% extends "base.html"%}
{% block title %}
    修改资料
{% endblock %}
{% block head %}
<style>
    .edit{
        text-align: center;
        background-color: cornsilk;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    input {
        text-align: center;
    }
</style>
{% endblock %}
{% block body%}
{% if current_user.is_administrator() and user %}
<div class='edit'>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{form.email() }}
    {{ form.username.label }} {{form.username() }}
    {{ form.confirmed.label }} {{form.confirmed() }}
    {{ form.name.label }} {{form.name() }}
    {{ form.location.label }} {{form.location() }}
    {{ form.about_me.label }} {{form.about_me() }}
    {{ form.role.label }} {{form.role() }}      
    {{ form.submit() }}
</form>
</div>
{% else %}
    <div class="edit">
        <form action='' method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.location.label }} {{ form.location() }}            
        {{ form.about_me.label }} {{ form.about_me() }}
        {{ form.submit() }}
        </form>
    </div>
{% endif%} 

{% endblock %}
