{% extends "layouts/backstage_base.html" %}
{% from 'macros/macro.html' import macro %}

{% block title %}
    书写文章
{% endblock %}

{% block style %}
{{ super() }}
    .edit{
        text-align: center;
        background-color: cornsilk;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    input {
        text-align: center;
    }
{% endblock %}


{% block body%}
    {{ super() }}
    {{ macro.flash_all(form.errors.titles)}}
    {{ macro.flash_all(form.errors.body)}}
    {{ macro.flash_all(form.errors.tags)}}
    {{ macro.flash_all(form.errors.classifys)}}
{% endblock %}

{% block content %}
    <div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.title.label}} {{form.title() }}
            {{ form.body() }}
            {{ form.tags.label }} {{ form.tags() }}
            {{ form.classifys.label }} {{ form.classifys() }}            
            {{ form.submit()}}
        </form>

        {{ pagedown.include_pagedown() }}
    </div>
    <p>________________________</p>
    <p>标签</p>
    <div>
        <ul>
        {% for tag in all_tag %}
        <li>{{ tag }}</li>
        {% endfor %}            
        </ul>
    </div>
    <p>_______________________</p>
    <p>分类</p>
    <div>
            <ul>
            {% for classify in all_classify %}
            <li>{{ classify }}</li>
            {% endfor %}            
            </ul>
        </div>
{% endblock %}