{% extends "layouts/backstage_base.html" %}
{% from 'macros/macro.html' import macro %}

{% block title %}
    管理标签
{% endblock %}

{% block body%}
    {{ super() }}
    {{ macro.flash_all(del_tag_id.errors.classifys)}}
    {{ macro.flash_all(add_tag.errors.classify)}}
{% endblock %}

{% block content %}
<form action="{{ url_for('manage.manage_tags', do='del')}}" method="POST">
{{ del_tag_id.hidden_tag() }}
<div id='tag_table'>
    
    {% for tag in tags %}
    <div>
        <input type="checkbox" name="id_list-{{ loop.index0 }}" id="id_list-{{ loop.index0 }}" value="{{ tag.id }}">        
        <p class='tag_lable' >{{ x }}</p>            
    </div>
    {% endfor %}
</div>
    {{ del_tag_id.submit() }}
</form>
<p>添加</p>
<form action="{{ url_for('manage.manage_tags', do='add')}}" method="POST">
        {{ add_tag.hidden_tag() }}
        {{ add_tag.tag() }}
        {{ add_tag.submit() }}
    </form>
{% endblock %}