{% extends "layouts/backstage_base.html" %}
{% from 'macros/macro.html' import macro %}

{% block title %}
    修改用户资料
{% endblock %}

{% block content %}
<form action="{{ url_for('manage.manage_users',do='del') }}" method="post">
{{ id_list.hidden_tag() }}
<table border="1px">
        <tr>
          <td>选中</td>
          <th>列数</th>
          <th>id</th>
          <th>邮箱</th>
          <th>用户名</th>
          <th>是否认证</th>
          <th>用户权限</th>
          <th>真实姓名</th>
          <th>地址</th>
          <th>简介</th>
          <th>认证时间</th>
          <th>最后登陆时间</th>
          <th>修改按钮</th>
                    
        </tr>
            {% for user in users %}
            <tr>
                <td><input type="checkbox" name="id_list-{{ loop.index0 }}" id="id_list-{{ loop.index0 }}" value="{{ user.id }}"></td>
                <td>{{ loop.index}}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.confirmed }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.about_me }}</td>
                <td>{{ user.member_since }}</td>
                <td>{{ user.last_since }}</td>            
                <td><a href="{{ url_for('manage.edit_profile_admin',id=user.id ,next=url_for('manage.manage_users')) }}">修改</a></td>
            </tr>
            {% endfor %}          
      </table>
{{ id_list.submit() }}
</form>
{% endblock %}