{% extends "base.html"%}
{% block title %}
    书写文章
{% endblock %}
{% block head %}
<style>
    .edit{
        text-align: center;
        background-color: cornsilk;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    input {
        text-align: center;
    }
</style>
{% endblock %}

{% block body%}
    <div>
        <form action="{{ url_for('manage.writeblog') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.title.lable}} {{form.title() }}
            {{ form.body.lable }} {{ form.body() }}
            {{ form.submit()}}
        </form>
    </div>

{% endblock %}