html, body, p, ul, img, h1,h2,h3{
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a{
    color: initial;
    text-decoration:none;
}
body{
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: #F5F7F9;
    font-size: 14px;
    color:#555;
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.headband{
    width: 100%;
    height: 3px;
    background-color: #222222;
    position:fixed;
    top:0;
    margin-bottom: 0px;
}
.content{
    margin-left: 20px;
    padding: 40px 40px 40px 40px;
    width: 620px;
    background-color: #FFFFFF;
}
.post::after {
    display: block;
    content: '';
    width: 50px;
    height: 1px;
    background: #ccc;
    margin: 50px auto;
}
.post_head h1 {
    text-align: center;
}
.post_head a {
    color: #555;
    font-weight: 200;
}
#info {
    display: flex;
    justify-content: center;
}
#info span {
    margin: 5px;
}
.post_body p {
    margin: 10px 0;
}
#post_button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#post_button button {
    background: #fff;
    border: 2px solid #555;
    width: 120px;
    height: 40px;
    transition: all 0.5s;
}
#post_button button:hover {
    background: #555;
    color: #fff;
    width: 140px;
}
#post_button button::after {
    content: "  »";
}


.header-inner {
    background: #fff;
}

.sidebar{   
    width: 240px;
    border:none;
    margin-top: 0px;
}
.site-meta{
    text-align: center;
    background-color: #222222;
    height: 100px;
}
.site-title{
    color:#F3F3F3;
    padding: 15px 0;
    font-size: 28px;
}
.site-subtitle{
    color:#C7C7C7;
    font-size: 12px;
}
.site-nav {
    margin-bottom: 20px;
}
.site-nav li a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    font-size: 14px;
    color: #555;
}
.site-nav li a:hover {
    background: #F9F9F9;
    color: #222;
}

.sidebar-inner {
    padding: 30px 0;
    background: #fff;
}
.site-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.site-author img{
    padding: 2px;
    border: 1px solid #eee;
    max-width: 120px;
}
.site-author p {
    height: 30px;
    line-height: 30px;
}
.site-author .site-author-name {
    color: #222;
    font-size: 16px;
    font-weight: bolder;
}
.site-author .site-author-element {
    font-size: 13px;
    color: #999;
    margin-bottom: 30px;
}
.site-state {
    display: flex;
    justify-content: center;
    
}
.site-state a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.site-state div:nth-child(2) {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee; 
}
.site-state div span {
    font-size: 12px;
    color: #555;
}
.site-state div span:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
}

.btn-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

button {
    background: #fff;
    border: 2px solid #aaa;
    width: 80px;
    height: 40px;
    transition: all 0.5s;
    color: #555;
}
.btn-list a {
    text-align: center;
    background: #fff;
    border: 2px solid #aaa;
    width: 80px;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s;
    color: #555;
    font-weight: bold;
}
.btn-list a:hover {
    background: #aaa;
    color: #fff;
}

.page-list {
    display: flex;
    justify-content: center;
}
.page-list li {
    display: block;
    cursor: pointer;
    user-select: none;
    list-style-type: none;
    margin: 3px;
    color: #555;
    border-bottom: 1px solid #ccc;
    text-align: center; 
    line-height: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
}
.page-list .item:hover {
    color: #555;
    border-bottom: 1px solid #555;
}
.page-list .forbid {
    background: #ccc;
    color: #fff;
}