{% extends "layouts/base.html"%}
{% import "macros/macro.html" as macro with context %}
{% block title %}
    Cblog
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}
{% block body %}
<div class="content">
    {% block content %}
    <div id="post" class='post'>
        {% for post in posts %}
        <div class="post_head">
            <h1>
                <a href="#">{{ post.title }}</a>
            </h1>
            <div class='info'>
                <span>时间:{{ post.timestamp.strftime('%Y-%m-%d') }}</span>
                <span>作者:{{ post.author.username }}</span>
                <!-- <span>评论</span>
                <span>阅读量</span> -->
            </div>
        </div>
        <div  class='post_body'>
            {{ post.body[0:200] }}...
            <div class='post_button'>
                <button>查看更多</button>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <ul class="page-list">

        {% for i in num_list %}
        {% if i == num%}
        <li><a class="forbid" href="{{url_for('main.page',num=i)}}">{{ i }}</a></li>
        {% else %}
        <li><a class='item' href="{{url_for('main.page',num=i)}}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
</div>
{{ macro.sidebar() }}
{% endblock %}


