{% extends "layouts/base.html" %}
{% import 'macros/macro.html' as macro with context %}
{% block title %}
    Cblog
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}

<div class="content">
    <ul>
        {% for tag in tags %}    
        <a href="{{url_for('main.tag',tag=tag)}}"><li>{{ tag }}</li></a>
        {% endfor %}    
    </ul>             
</div>
{{ macro.sidebar() }}
{% endblock %}