{# 网页结构中重复出现的 html 块 #}

{% macro sidebar() -%}
{# 侧边栏 参数分别是 日志,分类,标签 的数量 #}
<aside id="sidebar" class="sidebar">
    <div class='headband'></div>
    <div id='header-inner' class="header-inner">
        <div id='site-meta' class="site-meta">
            <h1 id='site-title' class='site-title'>Cblog</h1>
            <p id="site-subtitle" class="site-subtitle">这是小标题</p>
        </div>
        <nav id="site-nav" class="site-nav">
            <ul>
                <li>
                    <a href="{{ url_for('main.index')}}">首页</a>
                </li>
                <li>
                    <a href="#">归档</a>
                </li>
                <li>
                    <a href="{{ url_for('main.tags') }}">标签</a>
                </li>
                <li>
                    <a href="#">搜索</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id='sidebar-inner' class='sidebar-inner'>
        <div id='site-author' class='site-author'>
            <img src="http://notes.iissnan.com/uploads/m3.jpg" alt="Cblog">
            <p class="site-author-name">copie</p>
            <p class='site-author-element'>一个四流学校的四流渣渣</p>
        </div>
        <div id='site-state' class="site-state">
            <div>
                <a href="{#这个以后指向归档#}">
                    <span>{{ info_list['blog_amount'] }}</span>
                    <span>日志</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <span>{{ info_list['classifys_amount'] }}</span>
                    <span>分类</span>
                </a>
            </div>
            <div>
                <a href="{{ url_for('main.tags') }}">
                    <span>{{ info_list['tags_amount'] }}</span>
                    <span>标签</span>
                </a>
            </div>
        </div>
        <div class="btn-list">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>
                <a href="{{ url_for('auth.logout')}}">注销</a>
            {% else %}
                <a href="{{url_for('auth.login')}}">登陆</a>
                <a href="{{ url_for('auth.register')}}">注册</a>
            {% endif %}
        </div>
    </div>
</aside>
{%- endmacro %}


{% macro modal(message,title='Cblog',button1='取 消',button2='确 定') -%}
{# 模态框 传入一个字符串 现实一个带有传入内容的 模态框 #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/xluos_modal.css')}}">
<div id="modal" class="modal">
        <div id="modal-content" class="modal-content">
            <h4>{{ title }}</h4>
            <div class="modal-body">
            {{ message }}
            </div>
            <footer class="modal-footer">
                <button id="cancel">{{ button1 }}</button>
                <button id="sure">{{ button2 }}</button>
            </footer>
        </div>
 </div>
 <script src="{{ url_for('static', filename='js/xluos_modal.js')}}"></script>
{%- endmacro %}

{% macro jude_topbar() -%}
{% if request and request.endpoint[:7] == 'manage.' %}
{# 判断是否显示顶栏 #}
    {% include "layouts/topbar.html"%}
{% endif %}
{%- endmacro %}

{% macro get_flashed() -%}
{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
    {{ modal(message) }}
{% endfor %}
{% endif %}
{%- endmacro %}


