{# 网页结构中重复出现的 html 块 #}

{% macro modal(message,title='Cblog',button1='取 消',button2='确 定') -%}
{# 模态框 传入一个字符串 现实一个带有传入内容的 模态框 #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/xluos_modal.css')}}">
<div id="modal" class="modal">
        <div id="modal-content" class="modal-content">
            <h4>{{ title }}</h4>
            <div class="modal-body">
            {{ message }}
            </div>
            <footer class="modal-footer">
                <button id="cancel">{{ button1 }}</button>
                <button id="sure">{{ button2 }}</button>
            </footer>
        </div>
 </div>
 <script src="{{ url_for('static', filename='js/xluos_modal.js')}}"></script>
{%- endmacro %}

{% macro jude_topbar() -%}
{% if request and request.endpoint[:7] == 'manage.' %}
{# 判断是否显示顶栏 #}
    {% include "layouts/topbar.html"%}
{% endif %}
{%- endmacro %}

{% macro get_flashed() -%}
{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
    {{ modal(message) }}
{% endfor %}
{% endif %}
{%- endmacro %}


