<!DOCTYPE html>
<html lang="zh_CN">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        {% block title%}
        {% endblock %}
    </title>
    {% endblock %}
    <style>
    html,
    body{
        margin: 0;
        padding: 0;
        
    }

    </style>
</head>

<body>
    {% if request.endpoint[:7] == 'manage.' %}
    {% block manage_header %}
    {% include "topbar.html"%}
    {% endblock %}
    {% endif %}  
    {% block body %}
    {% endblock %}
    {% if get_flashed_messages() %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xluos_modal.css')}}">
    {% for message in get_flashed_messages() %}
    <div id="modal" class="modal">
            <div id="modal-content" class="modal-content">
                <h4>标题</h4>
                <div class="modal-body">
                {{ message }}
                </div>
                <footer class="modal-footer">
                    <button id="cancel">取 消</button>
                    <button id="sure">确 定</button>
                </footer>
            </div>
     </div>
     <script src="{{ url_for('static', filename='js/xluos_modal.js')}}"></script>
    {% endfor %}
    {% endif %}
</body>
</html>