{% macro modal(message,title='Cblog',button1='取 消',button2='确 定') -%}
{# 模态框 传入一个字符串 现实一个带有传入内容的 模态框 #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/xluos_modal.css')}}">
<div id="modal" class="modal">
        <div id="modal-content" class="modal-content">
            <h4>{{ title }}</h4>
            <div class="modal-body">
            {{ message }}
            </div>
            <footer class="modal-footer">
                <button id="cancel">{{ button1 }}</button>
                <button id="sure">{{ button2 }}</button>
            </footer>
        </div>
 </div>
 <script src="{{ url_for('static', filename='js/xluos_modal.js')}}"></script>
{%- endmacro %}
<!DOCTYPE html>
<html lang="zh_CN">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        {% block title%}
        {% endblock %}
    </title>
    {% endblock %}
    <style>
    html,
    body{
        margin: 0;
        padding: 0;
        
    }

    </style>
</head>

<body>
    {% if request and request.endpoint[:7] == 'manage.' %}
    {% block manage_header %}
    {% include "topbar.html"%}
    {% endblock %}
    {% endif %}  
    {% block body %}
    {% endblock %}
    {% if get_flashed_messages() %}
    {% for message in get_flashed_messages() %}
        {{ modal(message) }}
    {% endfor %}
    {% endif %}
</body>
</html>