{% extends "base.html"%}
{% block title %}
    Cblog
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}
{% block body %}
<div class='headband'></div>
<div class="content">

    <div id="post" class='post'>
        <div id='post_head' class="post_head">
            <h1>
                <a href="#">AngularJS 应用单元测试起步</a>
            </h1>
            <div id='info'>
                <span>时间</span>
                <span>评论</span>
                <span>阅读量</span>
            </div>
        </div>
        <div id='post_body' class='post_body'>
            <p>AngularJS 很重视测试，所以提供了很多特性使得编写测试变得更容易。AngularJS 应用的单元测试与普通的 JavaScript 应用测试有些不同。</p>
            <p>AngularJS 应用是以 module（模块）为单位来组织应用，将不同的功能放进各自的模块。测试可以从整个应用级别，或者从特定的模块开始。正是由于测试可以从模块开始，在测试的时候需要指定引用的模块。</p>
            <p>AngularJS 应用在启动的时候，会寻找 ng-app 指定的模块，而后创建一个 $rootScope 以及一个管理依赖的 $injector，而后依赖将通过 $injector 自动注入。在测试的时候，需要手动处理这个过程。因为在编写测试的时候，希望的是能够进行单元性的测试，能够针对特定的模块进行测试。所以在编写
                AngularJS 测试的时候，我们需要手动去引用某个模块 ，同时手动创建 $rootScope 和手动引入依赖。</p>
            <p>AngularJS 提供了 ngModule 这个模块，包含一些方法用来处理这个过程。这个过程主要使用到的是两个方法，分别是 module 以及 inject 方法。前者用于引入模块，后者用于处理依赖。例如：</p>
            <div id='post_button'>
                <button>查看更多</button>
            </div>
        </div>
    </div>
    <ul class="page-list">

        <li class="forbid">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">></li>
    </ul>
</div>
<aside id="sidebar" class="sidebar">
    <div id='header-inner' class="header-inner">
        <div id='site-meta' class="site-meta">
            <h1 id='site-title' class='site-title'>Cblog</h1>
            <p id="site-subtitle" class="site-subtitle">这是小标题</p>
        </div>
        <nav id="site-nav" class="site-nav">
            <ul>
                <li>
                    <a href="{{ url_for('main.index')}}">首页</a>
                </li>
                <li>
                    <a href="#">归档</a>
                </li>
                <li>
                    <a href="#">标签</a>
                </li>
                <li>
                    <a href="#">搜索</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id='sidebar-inner' class='sidebar-inner'>
        <div id='site-author' class='site-author'>
            <img src="http://notes.iissnan.com/uploads/m3.jpg" alt="Cblog">
            <p class="site-author-name">copie</p>
            <p class='site-author-element'>一个四流学校的四流渣渣</p>
        </div>
        <div id='site-state' class="site-state">
            <div>
                <a href="">
                    <span>100</span>
                    <span>日志</span>
                </a>
            </div>
            <div>
                <a href="">
                    <span>127</span>
                    <span>分类</span>
                </a>
            </div>
            <div>
                <a href="">
                    <span>876</span>
                    <span>标签</span>
                </a>
            </div>
        </div>
        <div class="btn-list">
            <!-- <button>登录</button>
            <button>注册</button> -->
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>
                <a href="{{ url_for('auth.logout')}}">注销</a>
            {% else %}
                <a href="{{url_for('auth.login')}}">登陆</a>
                <a href="{{ url_for('auth.register')}}">注册</a>
            {% endif %}
        </div>
    </div>
</aside>
{% endblock %}