{% extends "base.html"%} 
{% block body %}
{% include "topbar.html"%}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
        {% if user.username %}{{ user.username }}{% endif %}
        {% if user.location %} From
        <a href="http://www.google.cn/maps/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
    </p>
    {% endif %}
    
    {% if current_user.is_administrator()%}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>
        注册时间: {{ user.member_since }}
        最后登陆时间: {{ user.last_since }}
    </p>
</div>
{% endblock %}